{% extends 'base.html' %}

{% block title %}
    <title>Accueil du blog</title>
{% endblock %}

{% block content %}

    <h1>Le blog de Docstring</h1>
    {% for article in articles %}
    <div class="card">
      <div class="card-header">
        Publié le {{article.created_on | date:'j F Y'}} par <i>{{article.author}}</i>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{article.title}}</h5>
        <p class="card-text">{{article.content|safe|truncatewords:50}}</p>
        <a href="{{article.slug}}" class="btn btn-primary">Voir l'article en détail</a>
      </div>
    </div>

    {% endfor %}

{% endblock %}